<div *ngIf="this.products">
  <div  class="column" *ngFor="let p of this.products">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            
            <div class="col-7 col-md-8">
              <div class="">
                <p class="" style="font-size: large;">{{p.name}}</p>
                <p class="" style="font-size: large;">{{p.description}}</p>
                <p class="" style="font-size: large;">{{p.price}} Dinards
                  <p>
              </div>
          </div>
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  

  